<!Doctype html>
<html>
    <head>
         <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize/css/materialize.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        
        <!---Introduction/logo/Nav-menu END--->
        <header>
            <div class="top-nav">
                <nav class="row transparent">
                    <div class="brand-logo logo col s2">
                        Chinedu
                        Chizaram.
                    </div>
                    <div class="menu col  right">
                        <ul>
                            <li class="menu-item"><a href='#'>menu</a></li>
                            <li class="menu-item"><a href='#'>menu</a></li>
                            <li class="menu-item"><a href='#'>menu</a></li>
                            <li class="menu-item"><a href='#'>menu</a></li>
                        </ul>
                    </div>
                </nav>
            </div>
            
            <div class="introduction">
            <h1 class="intro_hello">Hello!</h1>
            <h3> Lorem ipsum dolor sit amet, <span>consectetur adipiscing elit</span>. Praesent ac facilisis urna. Fusce viverra eros congue purus blandit, eget venenatis velit gravida. Aenean egestas purus .</h3>
            </div>
        </header>
        
        <!---Introduction/logo/Nav-menu END--->
        
        <!--- section background-->
        <section class="section background row" >
            <div class="section-title col m4">
                Background
            </div>
            <div class="section-content col m8">
                <p> what my background will be</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac facilisis urna. Fusce viverra eros congue purus blandit, eget venenatis velit gravida. Aenean egestas purus id mi luctus efficitur ac non urna. Vestibulum placerat, lacus non auctor egestas, odio lorem ultricies massa, vel eleifend leo ex eu tortor. Nulla quis lacus erat. Pellentesque ultricies, orci eu varius feugiat, ligula ipsum lobortis justo, nec tincidunt diam mauris ut quam. Duis id egestas metus.</p>
            </div>
            
        </section>
        <!--- section background END-->
        
        <!---section skills-->
        <section class="section skills row" >
            <div class="section-title col m4">
                Skills
            </div>
            <div class="section-content col m8">
                <div class="skills row">
                    <!---Skills- Languages_--->
                    <div class="skills-category ">
                        <div class="skills-category-label">Languages</div>
                        <ul>
                            <li class="skills-category-label">Python</li>
                            <li class="skills-category-label">Python</li>
                            <li class="skills-category-label">Python</li>
                            <li class="skills-category-label">Python</li>
                        </ul>
                    </div>
                    <!---Skills- Framework_--->
                    <div class="skills-category">
                        <div class="skills-category-label">Framework</div>
                        <ul>
                            <li class="skills-category-label">React</li>
                            <li class="skills-category-label">React</li>
                            <li class="skills-category-label">React</li>
                            
                        </ul>
                    </div>
                    <!---Skills- Tools_--->
                    <div class="skills-category">
                        <div class="skills-category-label">Tools</div>
                        <ul>
                            <li class="skills-category-label">Postman</li>
                            <li class="skills-category-label">Postman</li>
                            <li class="skills-category-label">Postman</li>
                        </ul>
                    </div>
                
                </div>
                
            </div>
            
        </section>
        <!---section skills END-->
        
         <!---section experience/projects-->
        <section class="section experience" >
            <div class="section-title">
                Experience/Projects
            </div>
            <div class="section-content">
                <!--project-tryble -->
                <div class="project tryble">
                    <figure class="project-img">
                       <a><img></a> 
                    </figure>
                    <figcaption class="project-caption">
                        <div class="project-name">Tryble</div>
                        <p class="project-description">tryble works in a fascinating manner </p>
                    </figcaption>
                    
                </div>
                 <!--project-tryble -->
                <div class="project tryble">
                    <figure class="project-img">
                       <a><img></a> 
                    </figure>
                    <figcaption class="project-caption">
                        <div class="project-name">Tryble</div>
                        <p class="project-description">tryble works in a fascinating manner </p>
                    </figcaption>
                    
                </div>
                 <!--project-tryble -->
                <div class="project tryble">
                    <figure class="project-img">
                       <a><img></a> 
                    </figure>
                    <figcaption class="project-caption">
                        <div class="project-name">Tryble</div>
                        <p class="project-description">tryble works in a fascinating manner </p>
                    </figcaption>
                    
                </div>
            </div>
            
        </section>
        <!---section experience/projects END-->
        
        <!--- section other projects-->
        <section class="section other-projects" >
            <div class="section-title">
                Other Projects
            </div>
            <div class="section-content">
                <!--- Project 1--->
                <div class="project">
                    <div class="project-name">
                    <a href="#">Encrypted Messenger</a>
                    </div>
                    <p class="project-description">Project description</p>
                    <div class="tools-used">
                            <span class="tools-used-item">java</span>
                         <span class="tools-used-item">java</span>
                         <span class="tools-used-item">java</span>
                         <span class="tools-used-item">java</span>
                    </div>
                </div>
                 <!--- Project 2--->
                <div class="project">
                    <div class="project-name">
                    <a href="#">Encrypted Messenger</a>
                    </div>
                    <p class="project-description">Project description</p>
                    <div class="tools-used">
                            <span class="tools-used-item">java</span>
                         <span class="tools-used-item">java</span>
                         <span class="tools-used-item">java</span>
                         <span class="tools-used-item">java</span>
                    </div>
                </div>
                 <!--- Project 3--->
                <div class="project">
                    <div class="project-name">
                    <a href="#">Encrypted Messenger</a>
                    </div>
                    <p class="project-description">Project description</p>
                    <div class="tools-used">
                            <span class="tools-used-item">java</span>
                         <span class="tools-used-item">java</span>
                         <span class="tools-used-item">java</span>
                         <span class="tools-used-item">java</span>
                    </div>
                </div>
            </div>
            
        </section>
        <!--- section other projects END-->
        
        <footer class="footer">
            <div class="footer-copyright">
                <div class="copy-top">Designed and developed by</div>
                <div class="copy-bottom"> Chinedu Chizaram</div>
            </div>
            <div class="footer-links">
                <a href="#">Facebook</a>
                <a href="#">Facebook</a>
                <a href="#">Facebook</a>
                <a href="#">Facebook</a>
            </div>
            
              
        </footer>
        
        
    </body>
</html>