
header, .section{
    min-height: 100vh;
    position: relative;
    
}
.section{
    font-family: "Work Sans", sans-serif!important;
}
.section .background{
    margin: auto 0;
}
.section-title{
    font-size: 5rem;
    font-family: "Work Sans", sans-serif!important;
}
.section-content{
    position: relative;
    top: 30vh;
    letter-spacing: normal;
    
}
h1,h2, h3{
    color: black;
    font-family: monospace!important;
}
.logo{
    font-size: 15px!important;
    color: #242424 !important;
    font-weight: 200;
    letter-spacing: normal;
    font-family: "Work Sans", sans-serif!important;
    line-height: 50px;
    
}
.introduction{
    margin: 5rem;
    padding: 1em;
    
        
    
}
.introduction:after{
    content: "";
    display: block;
    
    width: 30%;
    padding-bottom: 20px;
    border-bottom: .3em solid black;
}
nav{
    box-shadow: none;
    
}
.menu-item{
}
.menu-item a {
    color: #242424;
    font-size: 0.99rem;
     font-family: "Work Sans", sans-serif;
    font-weight: 200;
    position: relative;
    height: 3em;
    letter-spacing: 0.07rem;
 
}
.menu-item a:hover{
    background: none;
}
.menu-item a:before{
    content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.menu-item a:hover:before{
     visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

body{
    background-color: #FBFBFB;
    
}
.footer{
    
}
