html,body{
    height: 100%;
}

.contain{
    margin-left: 2rem;
     margin-right: 2rem; 
    height: auto;
    

}

header, .section{
    
    min-height: 100vh;
    height:130vh;
    
    position: relative;
   
    
}
p{
    font-family: 'Roboto Mono', monospace;
    font-weight: lighter;
}
.section{
    font-family: "Work Sans", sans-serif!important;
}
.section .background{
    margin: auto 0;
}
.section-title{
    font-size: 5rem;
    font-family: "Work Sans", sans-serif!important;
    font-weight: 900;
}
.section-content{
    position: relative;
    top: 30vh;
    letter-spacing: normal;
    
}
.skills-category-label, .project-name a{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.7rem;
    text-decoration: none;
}
h1,h2, h3{
    color: black;
    font-family: monospace!important;
}
.logo{
    font-size: 15px!important;
    color: #242424 !important;
    font-weight: 200;
    letter-spacing: normal;
    font-family: "Work Sans", sans-serif!important;
    line-height: 50px;
    
}
.introduction{
    margin: 5rem;
    padding: 1em;
    
        
    
}
.introduction:after{
    content: "";
    display: block;
    
    width: 30%;
    padding-bottom: 20px;
    border-bottom: .3em solid black;
}
.intro span{
    
   color: blue;
    line-height: 1rem;
    font-size:1.5em;
    font-weight: 900;
    letter-spacing: 0.2rem;
    
}
.intro_hello{
    margin-bottom: 1em;
}
.intro{
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2.5rem;
}
nav{
    box-shadow: none;
    
}
.menu-item{
}
.menu-item a {
    color: #242424;
    font-size: 0.99rem;
     font-family: "Work Sans", sans-serif;
    font-weight: 200;
    position: relative;
    height: 3em;
    letter-spacing: 0.07rem;
 
}
.menu-item a:hover{
    background: none;
}
.menu-item a:before{
    content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.menu-item a:hover:before{
     visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

body{
    background-color: #FBFBFB;
    
}
footer{
   margin: 1rem;
}

.footer-links a{
    margin: 1rem;
    color: black;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {...} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}
